extends layout

block content
  h1= query + ' 검색 결과(' + results.length + ')'
  #map
  script.
    var positions = [];
  for result in results
    script.
      positions.push({
        lat: #{result.geometry.location.lat},
        lng: #{result.geometry.location.lng},
        name: '#{result.name}',
        id: '#{result.place_id}'
      });
  script.
    function initMap() {
      var center = positions[0] || { lat: 37.540705, lng: 126.956764 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: center
      });

      positions.forEach(function(pos) {
        new google.maps.Marker({
          position: { lat: pos.lat, lng: pos.lng },
          map: map,
          title: pos.name
        });
      });
    }
  script(
    async
    defer
    src="https://maps.googleapis.com/maps/api/js"
      + "?key=AIzaSyAukSe9VhQb3DinLhNei3YegxhMBTgVh_s&callback=initMap"
  )




//-
  //13.2 버전. 
  //검색어가 1개밖에 안 나옴.. 

  extends layout

  block content
    h1= query + ' 검색 결과(' + results.length + ')' //도곡동 검색 결과(1)
    if results
      for result in results 
        div= result.formatted_address //대한민국 서울특별시 강남구 도곡동
        div= JSON.stringify(result.geometry.location) //{"lat":37.4898434,"lng":127.0438136}
        div= result.place_id //ChIJgQ8NuK2mfDURK7PeUQo3oGg
        div= result.name //도곡동
//-

